{
  "dataFileName": "1. Intro_to_Python_Google_Colab.md",
  "dataTable": "",
  "config": {
    "editable": true,
    "selectable": true,
    "columns": [
      "Section content",
      "Expected time (mins)",
      "Pre - Requirements"
    ],
    "row-pivots": null,
    "column-pivots": null,
    "aggregates": null,
    "filters": null,
    "sort": null,
    "computed-columns": null
  }
}